body {
	background: #333;
	color: #333;
	font-family: "Titillium Web";
	font-size: 20px;
	text-align: center;
}

h1 {
	font-family: "Lobster";
	font-size: 60px;
	margin-bottom: 25px;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

form {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #222;
	margin: 50px auto 0;
	max-width: 400px;
	padding: 25px;
	width: 325px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input {
	background: #f5f5f5;
	border: 1px solid #eee;
	border-radius: 5px;
	font-size: 24px;
	margin-bottom: 10px;
	padding: 14px 8px;
	text-align: center;
	width: 95%;
}

.tip {
	font-family: "Lobster";
}

.help {
    border-radius: 5px;
    display: block;
    font-size: 14px;
    text-align: center;
    position: absolute;
    background: #258;
    left: 105%;
    top: 40px;
    width: 125px;
    padding: 7px 10px;
    color: #fff;
}

.help:after {
	right: 100%;
    top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #2F558E;
	border-width: 8px;
	margin-top: -8px;
}

p {
	margin-bottom: 10px;
	position: relative;
}

button {
	background: #258;
	box-shadow: 0 3px 0 0 #136;
	border-radius: 5px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	font-family: "Titillium Web";
	margin: 10px 5px 0;
	outline: none;
	padding: 10px 45px;
}

/*
Project 2: Javascript “Hot or Cold”

OVERVIEW
In this project, starting from scratch you’ll build a JavaScript version of "Hot or Cold" (commonly known as "Huckle buckle beanstalk", obviously!).
You remember the game, don't you? The hider knows where one object is, and a seeker has to find it.
Each time the seeker makes a guess, the hider responds "getting hotter" if she's getting closer, or "getting colder" if she's moved farther away.
For your version of the game, the computer will be hiding a number, and your user will be trying to find it.

To build this game, you should use functions, conditionals, random numbers, and a "scoped" variable as described here (http://eloquentjavascript.net/chapter3.html#p9d662d5).
This should help you understand the mindset of a programmer.

APP REQUIREMENTS
On page load, Javascript should pick a number at random that user will have to guess.
The user should be prompted to enter a guess.
The user should get feedback about their guess -if it was too high, too low, or just right.
Initially, don't worry about telling users if they're getting "hotter" or "colder", just tell them if there previous guess was "hot" or "cold".
For your initial version, feel free to use the built-in "prompt()" function to get user guesses, and the "alert()" function to give feedback on the user guess.
For the final version of your project, you'll need to create an HTML-based interface for getting user inputs and giving feedback on guesses.
Your app should ensure that users provide valid inputs.
For instance, if a user submits a spaces, a blank guess, or letters, they should receive feedback that they need to input a number.
The app should feature a button that allows the user to start a new game, without making additional calls to the server
Make sure to use version control as you're working on this project, committing early and often.

STEPS
Starting from scratch, in a brand new repository, create a web page that meets the requirements listed above.
Once you’ve got a working version, push it to Github (and host a version on Github pages) and a share it with your mentor and classmates to get feedback.
If you're feeling adventurous, consider adding the following additional features to improve the game:
Using another correctly scoped variable, iteratively track the user's previous guess in order to let them know if they are getting “hotter” or “colder”.
If you’re more visual, you can add animations using jQuery.

If you get stuck... 
http://philiplang.github.io/HuckleBuckle/index.html
http://raddevon.github.io/huckle-buckle-beanstalk/
*/